 <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="fadeIn first">
                <img src="//www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="text-center img-circle" style="width: 20%; height: 20%;">
          </div>
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username" autocomplete="off">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" autocomplete="off">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
        </div>
      </div> 